div{
    mat-toolbar{
    background: lightgoldenrodyellow;
a{
    
        margin: 1px,1px,1px,1px;
        background-color: purple; /* Green */
        border: none;
        height: 25px;
        width: 120px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 25px;
      
}
}
}